  html {
    width: 100%;
    height: 100%;
    clip: auto;
    position: absolute;
    overflow: hidden;
    }

ul {
    list-style-type: none;
    margin: -1%;
    padding: 10px 10px;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a, .drop {
    display: inline-block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #444;
  }
  
  li.dropdown {
    display: inline-block;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-flex;
    text-align: right;
  }
  
  .dropdown-content a:hover {background-color: lightgrey;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
h2, p{
  text-align: center;
  text-shadow: 10px;
  color: black;
}

h3, p, h2{
  margin: 0 auto;
  max-width: 900px;
  text-align:center;
  margin-top: 50px;
  color: black;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




body{
  background-color: lightblue;

}

.foto1{
  text-align: right;
  margin-top: 150px;
}

.foto2{
  text-align: left;
  margin-top: -250px;
}



footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
}



  #date{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }