html {
    width: 100%;
    height: 100%;
}
  

ul{
    list-style-type: none;
    margin: -1%;
    padding: 10px 10px;
    overflow: hidden;
    width: 100%;
    background-color: #333;
    }
    
    li {
    float: right;
    }
    
    li a, .drop {
    display: inline-block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    width: 100px;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
    background-color: #444;
    }
    
    li.dropdown {
    display: inline-block;
    
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    }
    
    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-flex;
    text-align: right;
    }
    
    .dropdown-content a:hover {background-color: lightgrey;}
    
    .dropdown:hover .dropdown-content {
    display: block;
    }
    main, h1{
        margin: 0 auto;
        max-width: 900px;
        text-align:center;
        margin-top: 40px;
        color: black;
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    
    
    
    
    body{
    background-color: lightblue;
    
    }

   #balk1{
       width: 1000px;
       height: 75px;
       background-color: red;
       margin: 0 auto;  
       font-size: 0;
       border: 5px solid black;
       border-radius: 50px;
   }

   #groen1{
       width: 35%;
       height: 100%;
       background-color: green;
       border-top-left-radius: 50px;
       border-bottom-left-radius: 50px;
   }

   #balk2{
    width: 1000px;
    height: 75px;
    background-color: red;
    margin: 0 auto;  
    font-size: 0;
    border: 5px solid black;
    border-radius: 50px;
}

#groen2{
    width: 40%;
    height: 100%;
    background-color: green;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#balk3{
    width: 1000px;
    height: 75px;
    background-color: red;
    margin: 0 auto;  
    font-size: 0;
    border: 5px solid black;
    border-radius: 50px;
}

#groen3{
    width: 15%;
    height: 100%;
    background-color: green;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#balk4 {
    width: 1000px;
    height: 75px;
    background-color: red;
    margin: 0 auto;  
    font-size: 0;
    border: 5px solid black;
    border-radius: 50px;
}

#groen4{
    width: 70%;
    height: 100%;
    background-color: green;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
  }
  
  
  
    #date{
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }